* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: -webkit-center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}
body {
  box-sizing: inherit;
  text-align: -webkit-center;
  justify-content: center;
  border-radius: 5px;
}
.main {
  background-color: #f9f9f9;
  min-width: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 3px 0px;
}
.yearOption {
  align-items: center;
  display: flex;
  border-color: black;
  width: 100px;
  height: 30px;
  text-align: justify;
  text-size-adjust: 90px;
  margin-bottom: 5px;

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 3px 0px;
}

.cityOption {
  align-items: center;
  display: flex;
  border-color: black;
  width: 160px;
  height: 34px;
  text-align: justify;
  text-size-adjust: 90px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 3px 0px;
}
.submit {
  align-items: center;
  display: flex;
  border-color: black;
  width: 100px;
  height: 20px;
  text-align: justify;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 44%);
  padding: 7px 0px;
  background-color: rgb(100, 100, 245);
}
.titleBar {
  background-color: black;
  color: white;
  height: 45px;
  align-items: center;
  margin: 2px;
  padding: 3px;
}
.title {
  padding: 9px;
  align-items: center;
}
.multiSelect {
  align-items: center;
  display: flex;
  border-color: solid black;
  width: auto;
  height: 34px;
  text-align: justify;
  text-size-adjust: 90px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 3px 0px;
}

.multiSelectContainer #input {
  background: transparent;
  margin-top: 3px;
  height: 1rem;
  width: auto;
}
