* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: -webkit-center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}
body {
  box-sizing: inherit;
  text-align: -webkit-center;
  justify-content: center;
  border-radius: 5px;
}
.main {
  background-color: #f9f9f9;
  min-width: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 3px 0px;
}
.year_cityOption {
  align-items: center;
  display: flex;
  border-color: black;
  width: 100px;
  height: 30px;
  text-align: justify;
  text-size-adjust: 90px;
  margin-bottom: 5px;

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 3px 0px;
}
.submit {
  align-items: center;
  display: flex;
  border-color: black;
  width: 100px;
  height: 20px;
  text-align: justify;
  text-size-adjust: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 7px 0px;
  background-color: rgb(100, 100, 245);
}
